[2021-09-16 13:17] siddhi-244 opened #1 "Our aim section !"

[2021-09-21 16:07] #1 closed

[2021-09-26 07:17] SahityaRoy opened #14 "Team Page Home Button Issue"
When i open the team page , in team page  i click on home button it will redirect on another page so please fix this issue.

[2021-09-26 07:19] SahityaRoy opened #15 "Size of logo"

[2021-09-26 07:19] SahityaRoy opened #16 "Logos in footer section are not visible properly"

[2021-09-26 07:20] SahityaRoy opened #17 "Need animated slider image in front page"

[2021-09-26 07:20] SahityaRoy opened #18 "Create a separate event page"

[2021-09-26 07:21] SahityaRoy opened #19 "create a registration form"

[2021-09-26 07:21] SahityaRoy opened #20 "Need a Database for registration form"

[2021-09-26 07:24] SahityaRoy opened #21 "Need a community partner section in front page"

[2021-09-26 17:24] LoveTwellu opened #24 "Hover-icon- linked in ,Social Media not connected"
After pressing on Know More -
1] Social Media Icons - Hover effect issues with Redirecting to the same page -
 * Hover -youtube Icon  -Red at the background
 * GitHub - black in the background
 * Linked in - dodgerblue in background

2]Team section [ Blog, Event, Our Team, Contact us ]-not Mentioned - Redirecting to the same page
3] Logo Icon Not seen at the top left
4] Social Media Icons Redirect

[2021-09-26 17:32] SahityaRoy commented on #24
@LoveTwellu can u fix it ???

[2021-09-26 18:03] LoveTwellu commented on #24
Yes Sir I can fix it, I need data or the links of Individual
*Linked in profiles of Founder & Contributors
*Instagram Profile - links
Yeep i can fix the -hover effect colors

[2021-09-26 20:24] LoveTwellu commented on #24
Yes sure I can do that for you

On Sun, Sep 26, 2021, 11:02 PM Sahitya Roy ***@***.***> wrote:

[2021-09-26 20:29] AyoubBoulahtar commented on #14
Hey, can I get assigned to this ?

[2021-09-26 20:30] AyoubBoulahtar commented on #18
Hey I can work on this page ! can I get assigned ?

[2021-09-27 01:03] ShlokMohanty commented on #20
@SahityaRoy can i take on this issue? i will be using a mysql workspace for creating the database by using the schemas

[2021-09-27 01:05] ShlokMohanty commented on #19
@SahityaRoy can we add the button of register here above the meet our team :
![image](https://user-images.githubusercontent.com/59838234/134831278-53925259-d64f-4102-9b05-0b64dfac7b21.png)

[2021-09-27 01:09] ShlokMohanty commented on #15
@SahityaRoy in this i found that the logos of the social media handles are not visible ,for example :
![image](https://user-images.githubusercontent.com/59838234/134831450-04d3c2ff-8714-4131-a9e9-5e1347cb6ea8.png)
if you see the social media handles below the Let's Take You Forward.

[2021-09-27 01:11] PhilsKay commented on #19
@ShlokMohanty i think we can actually put it in  the nav

[2021-09-27 01:12] ShlokMohanty commented on #15
@SahityaRoy i guess this issue is created for the mark at the top left corner right?
![image](https://user-images.githubusercontent.com/59838234/134831626-539cefa6-ed49-4703-a52e-7bde1615893e.png)

[2021-09-27 01:51] ShlokMohanty commented on #19
@PhilsKay you mean to say at the top where other tags such as Home, Aim, Events are present ? there ?

[2021-09-27 04:17] SahityaRoy commented on #24
then please do or u wanna do under #hacktoberfest @LoveTwellu

[2021-09-27 06:18] SahityaRoy commented on #19
Yes

[2021-09-27 06:18] SahityaRoy commented on #18
Yes you can work on it

[2021-09-27 06:57] ShlokMohanty commented on #19
ok so should i take in this ?

[2021-09-27 07:46] AyoubBoulahtar commented on #18
Can you assign it to me ?

[2021-09-27 07:59] PhilsKay commented on #19
@ShlokMohanty yeah

[2021-09-27 09:48] ShlokMohanty commented on #19
@PhilsKay thanks

[2021-09-27 09:48] ShlokMohanty commented on #19
@SahityaRoy can you assign me the task ?

[2021-09-27 10:07] ShlokMohanty commented on #19
@SahityaRoy thanks for assigning this task

[2021-09-27 12:41] neha030 opened #26 "Update Readme"

[2021-09-27 14:30] priyanka010392 commented on #16
@SahityaRoy, I would like to take this up, but how do you run this application in local?

[2021-09-28 08:44] aakankshabhende commented on #18
Can I work on this issue? @SahityaRoy

[2021-09-28 17:38] #26 closed

[2021-09-28 17:39] #14 closed

[2021-09-28 17:40] SahityaRoy commented on #15
Yes thats the issue can u fix it ??

[2021-09-28 17:44] Rhythm-cmd opened #29 "TeamPage.html issue #1"
TeamPage.html logo is missing

[2021-09-28 17:47] AyoubBoulahtar commented on #29
Can you assign this to me ?

[2021-09-28 17:52] Rhythm-cmd opened #30 "TeamPage.html issue #2"
None of the links in the navbar are working also the social media accounts are not added (they are not working as well).

[2021-09-28 17:57] Rhythm-cmd opened #31 "index.html issue #1"
Favicon is missing

[2021-09-28 18:08] Rhythm-cmd opened #32 "index.html issue #2"
The social media links are not visible on the home page not working as well.

[2021-09-28 18:27] Rhythm-cmd opened #33 "index.html issue #3"
A mirror image of the WhatsApp icon.
Secondly, all the links are not <_target= blank> which is needed.
![image](https://user-images.githubusercontent.com/67383671/135144572-16359a99-3c04-4db9-b6b4-8a023afb414a.png)

[2021-09-29 06:14] 0shivamh commented on #33
I would like to work on this

[2021-09-29 06:18] 0shivamh commented on #31
I would like to work, can you assign me?

[2021-09-29 07:08] Rhythm-cmd opened #34 "index.html issue #4"
By default, the slider is on the aim section as the home page opens.
Which should be on the home tab.
![image](https://user-images.githubusercontent.com/67383671/135219969-02f308a3-4074-4b25-8dfb-94b3760efc53.png)

[2021-09-29 07:15] Rhythm-cmd commented on #33
I can work on it but for now, I am just reporting the bugs and the things that are needed to update.

[2021-09-29 07:21] Rhythm-cmd commented on #34
I can work on it but for now, I am just reporting the bugs and the things that are needed to update.

[2021-09-29 07:25] Rhythm-cmd opened #35 "index.html issue #5"
Padding is needed, looks very congested[ in between **AIM** and **EVENTS** section] that is what I feel like a viewer.
![image](https://user-images.githubusercontent.com/67383671/135222183-7bc5e406-782d-4e67-a226-5335266b3e21.png)

[2021-09-29 13:27] nikhil2250 commented on #33
I can work on this

[2021-09-29 13:29] nikhil2250 commented on #32
Hey I can work on this issue !
Can I get assigned ? @SahityaRoy

[2021-09-29 14:33] SahityaRoy commented on #35
Ok so what you want to do ...

[2021-09-29 14:34] SahityaRoy commented on #34
Yes please fix this

[2021-09-29 18:09] TheCodinggDude commented on #30
I can work on this issue. Please assign it to me.

[2021-09-30 05:02] Rhythm-cmd commented on #33
I have fixed this one, I will create a pull request afterwards.
![image](https://user-images.githubusercontent.com/67383671/135390147-2c20736b-bc5b-4b0d-8787-bf0840a60109.png)

[2021-09-30 05:03] Rhythm-cmd commented on #35
I just want to increase the space in between.

[2021-09-30 05:06] Rhythm-cmd commented on #32
I have slightly changed the format .
is it looking good ??
![image](https://user-images.githubusercontent.com/67383671/135390624-5dbfa462-2b6c-4930-bdc5-9b0313a79a91.png)

[2021-09-30 05:08] Rhythm-cmd commented on #32
It is with a slider.
![image](https://user-images.githubusercontent.com/67383671/135390823-788ba20c-8705-4cc1-a041-b906f74b7902.png)

[2021-09-30 06:46] Rhythm-cmd opened #37 "index.html issue #6"
No hover effect on these links.
Secondly, they are not linked to any page.
![image](https://user-images.githubusercontent.com/67383671/135401234-de68ea0b-f6aa-45ef-84f1-2ec61e639e48.png)

[2021-09-30 07:20] Pradumnasaraf opened #39 "Adding Hyperlink to Documentation (README.md) file."

[2021-09-30 07:20] Pradumnasaraf opened #40 "*-Adding Hyperlink to Documentation (README.md) file."

[2021-09-30 07:24] #39 closed

[2021-09-30 07:28] Pradumnasaraf commented on #40
@SahityaRoy Please Check

[2021-09-30 08:10] soumya495 commented on #37
Can I work on this, I'll be able to make these changes ?

[2021-09-30 08:45] #35 closed

[2021-09-30 08:54] Akshay1810 commented on #30
please assign this issue to me. @SahityaRoy

[2021-09-30 08:56] Anuradha0501 commented on #40
@Pradumnasaraf you want to work on this issue in hacktoberfest?

[2021-09-30 08:56] Pradumnasaraf commented on #40
Ya

[2021-09-30 08:57] Anuradha0501 commented on #40
ok go ahead i will assign this to you

[2021-09-30 09:01] Pradumnasaraf commented on #40
@Rhythm-cmd plz check Thanks a ton :-)

[2021-09-30 09:02] Anuradha0501 commented on #20
Go ahead @ShlokMohanty I will assign it to you.

[2021-09-30 09:14] Anuradha0501 commented on #29
issue is fixed already

[2021-09-30 09:14] #29 closed

[2021-09-30 09:21] #15 closed

[2021-09-30 09:21] SahityaRoy commented on #15
Go to Issue no. #37

[2021-09-30 09:22] SahityaRoy commented on #37
[](https://user-images.githubusercontent.com/59838234/134831626-539cefa6-ed49-4703-a52e-7bde1615893e.png)

[2021-09-30 09:25] SahityaRoy commented on #37
![30 09 2021_14 53 18_REC](https://user-images.githubusercontent.com/72821604/135426008-480d24b9-ffde-4c8b-919d-471179c035a8.png)
Also this is another logo issue

[2021-09-30 09:27] SahityaRoy commented on #30
Please wait we will change the style first then we will work on this

[2021-09-30 09:28] Rhythm-cmd commented on #37
I have made some changes instead of these icons which I have listed in index.html issue #2

[2021-09-30 09:30] SahityaRoy commented on #21
![30 09 2021_14 58 19_REC](https://user-images.githubusercontent.com/72821604/135426805-d6093647-ef73-4f37-a5ff-ada32efd3058.png)

This type of community partner section

[2021-09-30 09:30] Rhythm-cmd commented on #37
Please Refer index.html issue #2

[2021-09-30 10:13] ShlokMohanty commented on #15
@SahityaRoy are we done with this issue?

[2021-09-30 10:14] ShlokMohanty commented on #15
has the issue been resolved ? or its still need to be fixed?

[2021-09-30 10:16] Rhythm-cmd opened #41 "index.html issue #7"
Placeholder added in the subscribe text box.
![image](https://user-images.githubusercontent.com/67383671/135437104-33306216-d246-44e0-b2b2-8dfadd4d55ba.png)

[2021-09-30 10:20] Rhythm-cmd opened #42 "index.html footer improvisation"
Improvisation in the footer.
Does this looks good ??
Text on this color[#1ea78d] was not visible .
![image](https://user-images.githubusercontent.com/67383671/135437454-b1cb05a0-0e8a-4baa-97fa-2bee692da7e3.png)

[2021-09-30 10:26] Rhythm-cmd commented on #37
Added hover effect on this.
With same color #1ea78d
![image](https://user-images.githubusercontent.com/67383671/135438523-eca0def4-8ee9-45e9-ba81-238ddf48920e.png)

[2021-09-30 10:48] SahityaRoy commented on #18
Hey @aakankshabhende  check this demo pa
![30 09 2021_16 13 59_REC](https://user-images.githubusercontent.com/72821604/135441680-3ceb7655-b67b-4d9b-acbe-c0452559daf1.png)
![30 09 2021_16 14 28_REC](https://user-images.githubusercontent.com/72821604/135441702-4d27eee0-5b47-4bad-a14c-3f5f3c3f80f8.png)
ge

[2021-09-30 10:48] SahityaRoy commented on #42
+1

[2021-09-30 10:58] Rhythm-cmd opened #45 "index.html favicon updated"
Updated favicon.
Report for an update if any.
![image](https://user-images.githubusercontent.com/67383671/135443203-6957cfdb-7f1d-4584-b74a-1b8e95ef1570.png)

[2021-09-30 10:59] #31 closed

[2021-09-30 11:43] Anuradha0501 commented on #45
i had assigned it to you please create your pull request.

[2021-09-30 11:50] Rhythm-cmd commented on #45
Okay, thanks.

[2021-09-30 11:55] Anuradha0501 commented on #37
for this issue i will assign @soumya495
![image](https://user-images.githubusercontent.com/71958796/135450639-66c3cdc9-abcf-4d79-95e7-9f94afe0d304.png)

[2021-09-30 11:58] Rhythm-cmd commented on #37
This issue is already fixed

[2021-09-30 11:59] AnantDuhan commented on #42
will do it

[2021-09-30 12:02] shreyaansjain06 opened #46 "Issue in contributing guidelines"
There is issue in readme.md contributing guideline due to which some are facing problem in setting up on local system
I can resolve this issue  if you give me a chance and
## Assign this issue to me
Below is the link showing how people are facing issue
https://github.com/Eduhub-Community/eduhub-website/issues/16#issuecomment-927930891
Thanks

[2021-09-30 12:05] Anuradha0501 commented on #37
@Rhythm-cmd you had already so many issues assigned so i had given a chance to Soumya if he will fix then ok otherwise i will forward it to you

[2021-09-30 12:07] Rhythm-cmd commented on #37
Okay, I was just saying it's already fixed.

[2021-09-30 12:09] Anuradha0501 commented on #37
let him work on it first and till then you complete your other assigned issues

[2021-09-30 12:09] Rhythm-cmd commented on #37
Could you review my edit on index.html issue #2

[2021-09-30 12:10] Rhythm-cmd commented on #37
All issues are resolved.

[2021-09-30 12:11] Anuradha0501 commented on #46
ok go ahead and also add ss of what you are going to update here

[2021-09-30 12:15] Anuradha0501 commented on #32
@SahityaRoy @neha030 please review this update

[2021-09-30 12:16] shreyaansjain06 commented on #46
ok sure thanks for replying
One more thing
Do i need to add ss first to then you will assigned me?
Because i need to make some changes and i can show ss when all changes are completed

[2021-09-30 12:18] Anuradha0501 commented on #46
ok i will assign it to you but first update you changes here first

[2021-09-30 12:21] 19arnab190201 opened #47 "I want to update the look of the " meet my team" section"
I want to update the look of the " meet my team" section please allow me

[2021-09-30 12:24] shreyaansjain06 commented on #46
Is there any need of
[code]
i think i should remove it

[2021-09-30 12:32] soumya495 commented on #37
Should i go ahead with this !?

[2021-09-30 12:35] ShlokMohanty opened #48 "creating an offers section in the nav bar to attract our website viewers"
we will be providing with courses like 10% discount may be 15 % discount on our courses so we sould add the course offer list at the nav bar

[2021-09-30 12:41] shreyaansjain06 commented on #46
This is the [link](https://github.com/shreyaansjain06/eduhub-website/blob/update/readme.md/README.md)

You can check here it is working fine and if you want some changes do let me know

[2021-09-30 12:48] ShlokMohanty commented on #48
![Screenshot (626)_LI](https://user-images.githubusercontent.com/59838234/135457820-e335087d-ac4b-4ee9-96e8-f3a3666b5324.jpg)

like in this we have discount offers so we can create a separate offers tag in the nav bar

[2021-09-30 12:49] shreyaansjain06 opened #49 "Social media links in footer are not working"
<img width="343" alt="Screenshot 2021-09-30 at 6 18 01 PM" src="https://user-images.githubusercontent.com/86606251/135457791-33e4079a-4790-4728-a89d-e44e4c4b5af8.png">

On clicking on link they don't take to desired location i can fix this issue if you provide me your social links and
## Assign this issue to me
Thanks

[2021-09-30 12:50] ShlokMohanty commented on #48
![Screenshot (625)_LI](https://user-images.githubusercontent.com/59838234/135458148-0fc58380-31a4-4f8c-b509-ac1bad0777a7.jpg)

may be where i have drawn a circle there we can add the offers tag?

[2021-09-30 12:52] Anuradha0501 commented on #37
Yes @soumya495 go ahead

[2021-09-30 12:53] ShlokMohanty commented on #49
@shreyaansjain06 i guess what the problem is with the links is that we are getting redirected to the top of the page if i m right ?Is that the case what is happening ?

[2021-09-30 12:54] ShlokMohanty commented on #34
@Rhythm-cmd are your working on this issue or should i take on this issue ?

[2021-09-30 12:55] soumya495 commented on #37
I have created a pull request .

[2021-09-30 13:02] shreyaansjain06 commented on #49
Yes it is the problem
i will solve this issue if they give their social links ans assign this issue to me

[2021-09-30 13:07] Rhythm-cmd commented on #34
@ShlokMohanty This issue is already fixed and it will be live on the website by tomorrow.

[2021-09-30 13:09] Rhythm-cmd commented on #34
All issues on which I was assigned are already fixed and they will be live by tomorrow.

[2021-09-30 13:11] ShlokMohanty commented on #49
ok got it

[2021-09-30 13:12] ShlokMohanty commented on #49
but the solution for this is that we should be directed to the youtube channel or may be twitter page right like that we need to do ?

[2021-09-30 13:19] shreyaansjain06 commented on #49
yes
if you understand what i meant can you please assign this issue to me

[2021-09-30 13:19] ShlokMohanty commented on #49
is it allowed like can anyone assign the issue?

[2021-09-30 13:20] ShlokMohanty commented on #49
or only the maintainers are allowed @shreyaansjain06 ?

[2021-09-30 13:45] ShlokMohanty commented on #49
ok got it

[2021-09-30 14:16] soumya495 commented on #37
@Anuradha0501 Hey, the hover effect doesn't seem to show up, but I have a fix for it should I make a new pull request !?

[2021-09-30 14:24] Anuradha0501 commented on #37
yes please fix it

[2021-09-30 14:38] SahityaRoy commented on #48
Hey we don't have any course these all are our previous events

[2021-09-30 14:40] ShlokMohanty commented on #48
ohh i see so these were the past events
right @SahityaRoy ?

[2021-09-30 15:01] SahityaRoy commented on #32
That's also look good What u say @Anuradha0501  @neha030

[2021-09-30 15:16] amankumar11 opened #53 "Changes in Landing page to make it look more attractive"
The UI and structure would be the same so that it does not go off with the whole website I will just update the basic css. Along with it, even the WhatsApp logo in the button is mirrorized, it needs to be set correctly.
Pls assign me this issue under Hacktoberfest label

[2021-09-30 16:14] AnantDuhan opened #54 "Social Media link in the banner are not working"

[2021-09-30 16:24] Abhishek2408 opened #56 "Social-media icons in the main section were not much visible."
The color scheme was causing the background and icons to almost merge into each other .

[2021-09-30 16:26] Abhishek2408 commented on #56
Please assign me this issue under Hacktoberfest label

[2021-09-30 17:08] AnantDuhan commented on #24
I have maded a PR for the social media with all the links. I can do the remaining things as well

[2021-09-30 17:53] shreyaansjain06 opened #61 "Add link to logo in footer"
Logo in top work like link but in footer does not work like this so i have fixed this

please assign this issue to me i have done this

[2021-09-30 17:59] warmachine028 opened #63 "Buttons Misaligned in mobile view"
## I want to make these changes in the website
- I want to also add also the telegram channel icon and button with the whatsapp and discord icon
- Also I want to add the latest event poster i.e. "Git & GitHub? Open source Contribution Guide" hosted by Sahitya Roy bhaiya in the events section.
![IMG-20210927-WA0067](https://user-images.githubusercontent.com/75939390/135506611-68348e80-c6e1-49b8-870

[2021-09-30 18:29] shreyaansjain06 opened #65 "No internal linking in footer"
- Contact Us
- Our Teams
- Our Aim
- Events
 does not have internal linking i have added that please assign this issue to me

[2021-09-30 19:21] #54 closed

[2021-09-30 19:22] rudraneel18 commented on #56
hey i increased the size of the social media buttons and changed the color to white....it looks good
![image](https://user-images.githubusercontent.com/64578089/135517472-7ae2e929-4446-4c98-8e95-f49c3c899f98.png)
could you assign me this task under hacktober fest2021 tag so that I can contribute in your repo

P.S.: The session held on 29th was awesome

[2021-09-30 19:38] SahityaRoy commented on #46
Thanks

[2021-09-30 19:38] #46 closed

[2021-09-30 19:41] SahityaRoy commented on #65
Ok it's very minor changes we can't accept it sorry

[2021-09-30 19:42] SahityaRoy commented on #63
Go ahead with this

[2021-09-30 19:44] SahityaRoy commented on #53
Ok can u send me the screenshot as a demo

[2021-10-01 02:58] shreyaansjain06 commented on #65
I have one more pr regarding adding link to logo should i combine both of ot then will you approve it?

[2021-10-01 03:00] ShlokMohanty commented on #19
@SahityaRoy in the registeration form will only the username and mailid will work or do we need to add other fields as well like password ,year of college , college and branch ?

[2021-10-01 03:16] AnantDuhan commented on #30
social media were added by me yesterday

[2021-10-01 03:18] shreyaansjain06 opened #68 "Arrow is not visible on white background"
<img width="343" alt="Screenshot 2021-10-01 at 8 46 16 AM" src="https://user-images.githubusercontent.com/86606251/135559979-aa50ffd6-112b-4207-95e0-064b5571b482.png">

<img width="343" alt="Screenshot 2021-10-01 at 8 46 34 AM" src="https://user-images.githubusercontent.com/86606251/135560011-2d9b5321-2f5e-47a2-9a39-8b6d6904228d.png">

I can fix it if you assign this issue to me and don't consider

[2021-10-01 03:49] amankumar11 commented on #53
https://drive.google.com/file/d/1_JoKJ_iuLL038ePbpKissD8h-OeTWloo/view?usp=sharing
You can view the video of my changes in this video.
Hope you will like the changes 🤞.
If any other change is to be made, do let me know 😊

[2021-10-01 04:21] Abhishek2408 commented on #56
I have done it in a much better way I guess.

[2021-10-01 04:29] SahityaRoy commented on #68
Cool go ahead with this

[2021-10-01 04:30] SahityaRoy commented on #21
Anyone wants to work with this ?

[2021-10-01 04:32] SahityaRoy commented on #17
Anyone wants to work with this issue

[2021-10-01 04:33] SahityaRoy commented on #18
@aakankshabhende  ???

[2021-10-01 04:39] Abhishek2408 opened #70 "There are many changes related to icons size in Home screen."
WhatsApp icon and discord icon size were not matching and also in the social media icons they were not much visible.

[2021-10-01 04:43] Abhishek2408 commented on #70
I want to make changes in that so after that, it gives better results to the end-user. Please assign this to me

[2021-10-01 05:00] shreyaansjain06 commented on #68
Thanks for assigning this issue

[2021-10-01 05:22] #68 closed

[2021-10-01 05:36] warmachine028 commented on #63
@SahityaRoy I have successfully added the changes, can you check it :)

[2021-10-01 06:37] #63 closed

[2021-10-01 06:51] SahityaRoy commented on #47
Thank You

[2021-10-01 06:51] #47 closed

[2021-10-01 07:30] Miraj8280 commented on #17
yeah..!!! sure.
But which images do you want to slide ??

[2021-10-01 07:41] Miraj8280 commented on #42
will improve it soon...

[2021-10-01 07:51] Rhythm-cmd commented on #42
It's already done.

[2021-10-01 11:21] PrajaktaSathe commented on #32
There's a bug I noticed - The Instagram and Twitter labels are going behind the posters.

[2021-10-01 14:43] Vishnurr2k01 commented on #21
Shall I work on this?

[2021-10-01 14:43] #70 closed

[2021-10-01 15:54] SahityaRoy opened #81 "Need a animated Testimonial section"
![01 10 2021_21 23 23_REC](https://user-images.githubusercontent.com/72821604/135650693-907ac4b7-57a5-4de0-80fc-109ae821e258.png)

[2021-10-01 15:55] #45 closed

[2021-10-01 15:56] SahityaRoy commented on #16
@priyanka010392  please go ahead with this

[2021-10-01 15:56] SahityaRoy commented on #16
You can contact with me via my LinkedIn or whatsapp  for help

[2021-10-01 15:58] SahityaRoy opened #82 "Need a animated blog page page"
in this blog page you can add some blogs as a example and page should be mobile responsive and animated too

[2021-10-01 16:00] #42 closed

[2021-10-01 16:02] SahityaRoy commented on #21
Yes please go ahead with this if you want logos then please message me on WhatsApp i will provide all the necessary details
My Number - 7584926589

[2021-10-01 16:24] vaibhavvs6 commented on #81
Heyy!!! Can I work on this issue? I can make this testomial section within a day.

[2021-10-01 16:28] Vishnurr2k01 commented on #21
Sure

[2021-10-01 17:24] SahityaRoy commented on #81
Yes sure go ahead with this

[2021-10-01 17:25] SahityaRoy commented on #81
If u can use some demo testimonials with some photo that are present in our img folder

[2021-10-01 17:25] SahityaRoy commented on #81
u can use some demo testimonials with some photo that are present in our img folder

[2021-10-01 17:56] mihir1739 commented on #17
Please assign me this issue..

[2021-10-01 18:35] SahityaRoy commented on #17
In front page u can see a dark page, i want to add 2-3 more picture and add slider

[2021-10-01 19:14] vaibhavvs6 commented on #81
Okayyy...I was going to ask that question. Thanks!

[2021-10-01 19:51] thesohailjafri opened #85 "home page social media button images"
telegram image is broken
images and text next to them have no spacing between them

![image](https://user-images.githubusercontent.com/66732877/135678633-3d48ce85-75ac-493c-87f3-91968f8fbfc0.png)

[2021-10-01 20:03] thesohailjafri commented on #85
i have resolved this issue
![image](https://user-images.githubusercontent.com/66732877/135679737-53500ad9-6487-4570-97e8-091ef32c6b17.png)
if this help please accept by hacktoberfest-pull

[2021-10-02 04:30] #56 closed

[2021-10-02 04:54] RiyaGupta89 opened #86 "Button are not visible properly"
![hacktoberfest](https://user-images.githubusercontent.com/72425181/135704027-e4a44c6b-5400-41d6-9569-4e40d294f24d.png)
I want to fix these buttons so that they are properly visible.

[2021-10-02 08:32] amankumar11 commented on #53
@SahityaRoy pls let me know should i open a PR ?

[2021-10-02 11:09] SwayamJilla opened #91 "social media colour"
social media icons below "lets take you forward" whenever you place your cursor on which ever social media it will change to specific colour like YouTube it will remain same red, linkedIn will change to blue, github will change to black, instagram will change to purple

[2021-10-02 12:50] Ukesh-dev commented on #86
I can fix it for you. You can assign it to me.

[2021-10-02 14:29] Subhradeep10 opened #92 "Team Page button is not working"
@SahityaRoy Can I work on the issue?

[2021-10-02 14:38] SahityaRoy commented on #86
@RiyaGupta89  It's resolved

[2021-10-02 14:38] #86 closed

[2021-10-02 14:39] SahityaRoy commented on #81
@vaibhavvs6  how much do u need to create this animated sliding testimonial section

[2021-10-02 14:43] SahityaRoy commented on #53
This is not looking good try something different

[2021-10-02 14:44] #48 closed

[2021-10-02 14:45] #33 closed

[2021-10-02 14:46] #30 closed

[2021-10-02 15:46] agaveyonatan commented on #91
Hi @SwayamJilla i would like to work with this issue

[2021-10-02 16:41] vaibhavvs6 commented on #81
I added the testimonial just now.

[2021-10-02 18:18] SahityaRoy commented on #81
Ok

[2021-10-02 18:23] SahityaRoy commented on #81
@vaibhavvs6  your testimonial section is not responsive please add slider effect

[2021-10-02 21:04] Abhishek2408 opened #97 "Header team section is not working."
when we try to click on the Team section it is not navigating the user to team section.
Please assign the role to me

[2021-10-02 21:06] Abhishek2408 commented on #97
Navbar team section

[2021-10-02 21:13] Abhishek2408 opened #98 "Home screen Button are not looking that much attractive and also i want to re align that icons."
Please assign this role to me.

[2021-10-02 21:14] Abhishek2408 commented on #98
Please assign this role to me.

[2021-10-03 08:57] Salisyal commented on #97
hello sir, regarding the bug problem in the team section, I have fixed it, can you check my pull request, thank you

[2021-10-03 11:38] ShlokMohanty commented on #20
@Anuradha0501 will be solving this issue from tomorrow today was finding the solution for it so would be submitting it soon is there a deadline that is specific for the submission?

[2021-10-03 15:30] PhilsKay commented on #20
I can actually support in the database too. I will use ASP.NET Core in backend(faster and Scalable) with some  APIs and MySql once I see the form done.

[2021-10-03 15:32] PhilsKay commented on #20
If you don't mind

[2021-10-03 15:32] PhilsKay commented on #20
If you don't mind

[2021-10-03 16:04] ShlokMohanty commented on #20
ok sure

[2021-10-03 16:05] ShlokMohanty commented on #20
@PhilsKay form will be completed within 2 days will that be okay for you ?

[2021-10-03 16:23] PhilsKay commented on #20
Yes

[2021-10-03 16:24] PhilsKay commented on #20
@ShlokMohanty Yes

[2021-10-03 17:03] 2024-SANDHYA opened #103 "Hero -Section"
Want to make some changes in this section: spacing, colors,  adding CSS effects to the navbar

[2021-10-04 04:08] Manan-Rathi opened #105 "Links in support section of the footer not working"
@SahityaRoy If this issue is up for grabs, please assign it to me.

[2021-10-04 06:23] SahityaRoy commented on #82
Anyone wants to create a blog page ????

[2021-10-04 06:24] #91 closed

[2021-10-04 06:25] #85 closed

[2021-10-04 06:25] SahityaRoy commented on #105
Sorry do something else

[2021-10-04 06:25] #105 closed

[2021-10-04 06:26] SahityaRoy commented on #103
what kind of changes you want to do

[2021-10-04 06:26] #98 closed

[2021-10-04 06:26] #65 closed

[2021-10-04 06:31] SahityaRoy opened #107 "Testimonial section is not responsive and i want to sliding effect"
![04 10 2021_11 52 56_REC](https://user-images.githubusercontent.com/72821604/135803873-6f060d0a-0f10-4f74-b587-3956bec9a474.png)
Problem

[2021-10-04 06:32] #61 closed

[2021-10-04 06:32] #41 closed

[2021-10-04 06:32] #37 closed

[2021-10-04 06:33] #21 closed

[2021-10-04 06:33] #34 closed

[2021-10-04 06:33] 2024-SANDHYA commented on #103
Proper spacing in those social buttons & adding CSS hover effects too

[2021-10-04 07:36] metavinayak commented on #107
Hello @SahityaRoy I would like to work on this issue.
By sliding effect you mean auto sliding,right?
Also I'll improve the responsiveness and handle the overlapping on left side.
Can you please assign this to me?

[2021-10-04 07:37] ShlokMohanty commented on #34
ohh thats great @Rhythm-cmd

[2021-10-04 08:12] ishantsingla18 commented on #82
Hey! Can I work on this?

[2021-10-04 08:33] RavirajMhalsekar opened #108 "The links in the footer-section are not linked properly"
In the "Support" column: links are not set properly as they just take you to directly to the home section.
In the 'Social Media' column: LinkedIn is written twice.

![image](https://user-images.githubusercontent.com/71785923/135819062-0b2d5a7f-59e9-412c-b13f-b34f19df1dbf.png)

[2021-10-04 08:34] RavirajMhalsekar commented on #108
I will like to fix these small bugs as a part of Hacktoberfest

[2021-10-04 09:21] metavinayak commented on #108
@RavirajMhalsekar I have almost fixed the bugs in testimonial section.I will submit the PR soon.
Please assign this to me.

[2021-10-04 09:40] metavinayak commented on #107
Please verify https://github.com/Eduhub-Community/eduhub-website/pull/110

[2021-10-04 10:21] SahityaRoy commented on #107
wait

[2021-10-04 10:21] SahityaRoy commented on #82
yes u can

[2021-10-04 13:34] ishantsingla18 commented on #18
Hey! Is this issue still open? If it is, can you assign it to me?

[2021-10-04 16:33] #107 closed

[2021-10-05 02:03] ShlokMohanty opened #116 "clicking on the github logo is not taking to the github repository of eduhub"
when clicking on the github logo it should take us to the github page of the eduhub community
link to where it should take us on clicking on the github logo:
https://github.com/Eduhub-Community/eduhub-website

[2021-10-05 03:19] mukulsinghal407 opened #117 "Hover Icons Z-indexing is not proper."
The z-index of the side hover social media tags are not proper they need to be at the top of the text when hovered upon.
I already have a template for the same that I made a few months back. Please assign me this task and one more thing by convention these tags should lie on the right-hand side of the page. In addition to all this, the logo at the top when the navbar is black in colour is not visi

[2021-10-05 03:21] mukulsinghal407 commented on #117
Overflow in the x-direction is also a problem to be solved.

[2021-10-05 04:52] SahityaRoy commented on #117
cool

[2021-10-05 05:04] Drish-xD commented on #117
Can i Work on this ? :)

[2021-10-05 06:20] mukulsinghal407 commented on #117
@SahityaRoy  the z-indexing has been rectified.
Please refer to #119

[2021-10-05 07:42] mukulsinghal407 commented on #117
If there are any changes please let me know.
@SahityaRoy

[2021-10-05 10:01] Abhishek2408 opened #120 "I wanted to make changes in home screen button of whatsapp , discord and telegram."
Please assign a role to me.

[2021-10-05 10:03] arsen1c commented on #97
Hey @Abhishek2408 you can assign this task to me. I have went through the code and figured out the bug, I will start working in shortly :)

[2021-10-05 10:25] Abhishek2408 commented on #97
I have already done with this bro and already pull the request.

[2021-10-05 10:28] arsen1c commented on #97
@Abhishek2408  Ok no problem. It would be nice if you could mention your PR here so that others will know that this issue is fixed :)

[2021-10-05 10:32] SahityaRoy commented on #120
what kind of changes ??

[2021-10-05 11:35] tier3guy opened #123 "Navbar UI"
The UI of the navbar needs to be improved. Please assign me this issue I would love to contribute in this.

[2021-10-05 11:37] tier3guy opened #124 "GO-UP button icon is not visible."
Assign me this issue so that I can move ahead with the work.

[2021-10-05 11:39] tier3guy opened #125 "Team Button in the navbar is not working."
I would like to contribute please do assign me this issue.

[2021-10-05 14:25] ChathushkaRodrigo commented on #103
I will do this assign me 👍🏼

[2021-10-05 14:29] TechSpiritSS opened #127 "Navbar Hover Effect"
I can change your site navbar effects like I did here in this site.

![ZHAqRFXjNL](https://user-images.githubusercontent.com/76687985/135857069-878c35ba-2ecc-42d5-8616-9bdd60bf9038.gif)

[2021-10-05 14:39] SahityaRoy commented on #123
yeah sure what kind of changes u wanna do

[2021-10-05 14:42] SahityaRoy commented on #124
i think its look good

[2021-10-05 14:44] SahityaRoy commented on #127
cool

[2021-10-05 15:20] #127 closed

[2021-10-05 15:38] #124 closed

[2021-10-05 18:17] avnoor-488 opened #129 "Team-Page UI"
I want to enhance the UI of the team page and wanted to add some of the hover effects in the images.WIll try to make the square-shaped grid with a good background(thinking for some dark theme edition) and with some of the hover effects to the images of team members

[2021-10-05 21:38] Geraldlyon commented on #17
Hello maintainers,
if no person is working on this yet could you just assign it to me please

[2021-10-05 21:55] ewatch opened #131 "Wording proposal - replace 'Aim' with 'Goal'"
I'd like to propose to use the word "Goals" instead of "Aims" as it would be more suitable for the context in my opinion.

[2021-10-05 21:55] ewatch commented on #131
This would be changed with PR #130

[2021-10-05 21:57] ewatch opened #132 "JavaScript errors happening on the page"
I saw that some JavaScript Errors are happning on the page.

[code]

I propose to at least prevent from those errors happening.

Best regards,
ewatch

[2021-10-06 03:41] yas-sisodia commented on #32
@SahityaRoy Please assign this task to me I can do this

[2021-10-06 05:37] Rhythm-cmd commented on #32
This is already fixed, I am closing this issue.

[2021-10-06 05:38] #32 closed

[2021-10-06 05:49] SahityaRoy commented on #131
Sorry we can't accept this

[2021-10-06 05:50] SahityaRoy commented on #129
what kind of changes u wanna do

[2021-10-06 05:50] SahityaRoy commented on #129
please provide a demo SS

[2021-10-06 05:50] #117 closed

[2021-10-06 06:42] harshita214 opened #135 "Appealing scroll bar"
**BEFORE**
![image](https://user-images.githubusercontent.com/79797000/136152557-0d47cbee-36ae-4fd3-9afc-22b80fd938d8.png)

**AFTER**
![image](https://user-images.githubusercontent.com/79797000/136152614-aab3e44e-5c78-4c7f-b73d-c8c353776ef2.png)

 **WHILE SCROLLING**
![image](https://user-images.githubusercontent.com/79797000/136152947-8cce2973-deb7-4b14-9f3e-0be66b4b98ad.png)

[2021-10-06 06:43] harshita214 commented on #135
Can I do this?

[2021-10-06 08:10] #120 closed

[2021-10-06 09:20] #135 closed

[2021-10-06 09:46] Mahmadamin08 opened #137 "footer logo"
I want to change logo in footer section because in footer background and logo both are black therefore i want to add white color logo, so plz let me do this

[2021-10-06 09:46] Mahmadamin08 commented on #137
change footer logo

[2021-10-06 09:48] Mahmadamin08 commented on #137
changes in footer

[2021-10-06 10:02] Mahmadamin08 commented on #137
i am contribute for fisrt time in open source program.
Thank you,,

[2021-10-06 10:55] harshita214 commented on #125
Can I do this?

[2021-10-06 15:19] #132 closed

[2021-10-07 06:33] Mahmadamin08 opened #141 "footer"
there are two linkedin show in footer . i have to fix this,
please give me chance to fix this,

[2021-10-07 08:32] SahityaRoy opened #145 "Need a about us page separately"

[2021-10-07 10:13] #137 closed

[2021-10-07 10:51] SwayamJilla commented on #145
on navbar???

[2021-10-09 16:27] SahityaRoy commented on #145
@SwayamJilla  any update ??

[2021-10-09 16:48] aakankshabhende commented on #18
Yess I'm working on it. Do you want the exact same design which you showed?

On Sat, Oct 9, 2021, 10:10 PM Sahitya Roy ***@***.***> wrote:

[2021-10-10 02:51] ShlokMohanty commented on #20
@Anuradha0501 yes on it
yesterdays update :
1) i have made the registeration tab on the nav bar just the linking part is left was looking at some templates for the registeration and then made the registeration form  and now looking at the scrolling behavior

2) adding the scrolling effect on the same page

3) would be doing the database part from tomorrow onwards

does that works @Anuradha0501  ?

[2021-10-10 03:03] Anuradha0501 commented on #20
Okay

[2021-10-11 06:46] jigar-sable opened #155 "Contact form feature"
Submit contact form data and mail it to admin. Integrate [EmailJS](https://www.emailjs.com/), as any other backend i.e. PHP can't be deployed on GH Pages.

[2021-10-12 13:48] SLICKjp commented on #145
hey can i work on this too?

[2021-10-15 08:58] aakankshabhende commented on #18
@SahityaRoy sir?

[2021-10-15 08:58] aakankshabhende commented on #18
@SahityaRoy sir?

[2021-10-15 11:53] SahityaRoy commented on #155
@jigar-sable this site is hosting on .tech domain so if u can create a database it will be very good like storing user data

[2021-10-15 11:53] SahityaRoy commented on #145
@SLICKjp  any updates ??

[2021-10-16 04:30] SahityaRoy commented on #145
@SLICKjp  any updates ????

[2021-10-16 05:50] sudip-mondal-2002 opened #159 "Events UI"
I want to update the CSS of the events section, can you please assign me?

[2021-10-16 07:34] SahityaRoy opened #160 "need campus leader section on home page"
![16 10 2021_13 02 17_REC](https://user-images.githubusercontent.com/72821604/137578385-94c5c838-77ec-40d5-9232-1d75648035b0.png)

like this

[2021-10-16 07:35] #141 closed

[2021-10-16 07:35] #129 closed

[2021-10-16 07:35] #125 closed

[2021-10-16 07:45] SahityaRoy opened #161 "Need to store data for this email update"

[2021-10-16 07:48] SahityaRoy commented on #161
![16 10 2021_13 14 28_REC](https://user-images.githubusercontent.com/72821604/137578990-a25d979b-17ab-4af4-8dd4-9db3c5de6d40.png)

[2021-10-16 08:32] SahityaRoy opened #163 "Need a separate Internship Page"
![16 10 2021_13 59 13_REC](https://user-images.githubusercontent.com/72821604/137580562-86379c07-deae-4893-a2fc-bfe694e52132.png)
![16 10 2021_13 58 20_REC](https://user-images.githubusercontent.com/72821604/137580578-acb85590-f6e3-405f-a73e-2e4da4ba759c.png)

[2021-10-16 08:40] SahityaRoy commented on #145
@SLICKjp  any updates ?????

as a reference [https://www.learnforcause.com/about.html](https://www.learnforcause.com/about.html)

[2021-10-16 09:38] aakankshabhende commented on #18
We will be able to put both event and event speaker

[2021-10-16 11:14] PhilsKay commented on #161
I want to contribute.. I use ASP.Net core and MySql if accepted..

[2021-10-16 11:26] jigar-sable commented on #161
@SahityaRoy it will be easier for me to do the same as I already have same functionality in contact form so it will be better to store this data in same database.

[2021-10-16 14:34] SahityaRoy commented on #18
yes its perfect

[2021-10-17 05:34] sudip-mondal-2002 commented on #159
Here is the pull request for this issue https://github.com/Eduhub-Community/eduhub-website/pull/166

[2021-10-17 11:03] vyaspriyal commented on #160
pla assign this issue to me . I can solve this

[2021-10-17 11:25] SLICKjp commented on #145
@SahityaRoy really sorry but i need some time.

[2021-10-17 12:31] SahityaRoy commented on #145
how much

On Sun, Oct 17, 2021 at 4:55 PM Jathin Prakash ***@***.***>
wrote:

[2021-10-17 13:55] Manan-Rathi commented on #145
@SahityaRoy Here is a dummy version of the about.html page. Do I have to make any further changes?

![Screenshot from 2021-10-17 19-23-17](https://user-images.githubusercontent.com/76519771/137630399-5fe5e42f-78bb-4b5f-bcc4-fdb07053fd28.png)

[2021-10-17 17:53] SahityaRoy commented on #145
at last add a green button Join Us

[2021-10-18 04:10] Manan-Rathi commented on #160
@SahityaRoy Kindly review PR #168

[2021-10-18 04:55] sooraj-gk commented on #163
Sir, can I work on this Issue, Please ***Assign*** me

[2021-10-18 05:50] jigyasingh opened #169 "The github favicon on the top does not lead to the github profile of Eduhub community"

[2021-10-18 06:55] #160 closed

[2021-10-18 09:30] SahityaRoy commented on #169
SEND A SS PLZ

[2021-10-18 15:24] aakankshabhende commented on #18
I'll make the PR by tomorrow

[2021-10-19 05:44] ishangupta17 commented on #163
@SahityaRoy pls assign me this

[2021-10-19 05:53] #159 closed

[2021-10-19 07:21] ishangupta17 commented on #163
@SahityaRoy add me in assignee

[2021-10-19 14:40] SahityaRoy commented on #82
Can u create a separate blog page for us

[2021-10-20 17:11] SahityaRoy opened #181 "Need a Terms and Conidiation page including documentation"

[2021-10-21 06:34] #163 closed

[2021-10-26 15:41] gurpreet-legend opened #204 "Adding animations to the carousel qoutes"
Adding animations to the carousal quotes will make it more eye-catching and enhance the user experience

[2021-10-28 20:06] kshitij-404 opened #216 "Enhancing the UI of the home page"
I was thinking of adding different pictures for the Carousel.
We can add an animation to the 'Know More' button.
![image](https://user-images.githubusercontent.com/76985867/139327493-806db811-3c29-46ef-883f-5d9390414be7.png)
We can also add hover effect to the Community Partner Logos.
![image](https://user-images.githubusercontent.com/76985867/139327659-c002a60b-05ce-4139-a0e4-6d4722fa0354.png)

[2021-10-30 07:21] adrian2504 commented on #181
even i can work on this please assign it to me

[2021-10-30 07:31] SahityaRoy commented on #181
OK so u need to create a terms page for us I will share the demo link

On Sat, Oct 30, 2021, 12:52 PM Adrian Dsouza ***@***.***>
wrote:

[2021-11-26 14:01] Priyanshi136 commented on #116
Hey, @ShlokMohanty is this issue is still opened,
if yes, then can i work on this issue.

[2022-01-21 09:42] khushbooag4 commented on #16
Is this Issue open ?? I want to work on this

[2022-02-26 20:04] tyagipriyanshi79 commented on #16
Hey, i would like to take this up . can you please assign this to me :) I want to fix this bug in an efficient manner with a clean code for better understandings ..

[2022-02-27 16:52] rashi1405 commented on #204
hello , I am a participant of GSSOC'22 , can you assign me this project to work .

[2022-02-27 16:55] gurpreet-legend commented on #204
@rashi1405 , this issue has already been resolved.

[2022-02-27 16:56] #204 closed

[2022-02-27 17:00] rashi1405 commented on #16
hello , I am a participant of GSSOC'22 , can you assign me this project to work .

[2022-02-27 17:01] rashi1405 commented on #53
hello , I am a participant of GSSOC'22 , can you assign me this project to work .

[2022-02-28 14:16] KamalSinghKhanna opened #223 "Need to add a youtube video link"
As we can see there is no Youtube link given for the first thumbnail inside the event section.
So we need to add the link
![Screenshot (7)](https://user-images.githubusercontent.com/78915058/155998128-5c58d1ed-cc86-424e-8012-a140fb238bee.png)
.

[2022-02-28 14:29] KamalSinghKhanna commented on #223
If you think this issue needs to be resolved then you can assign this to me.

[2022-02-28 16:04] Anish-Parkhi commented on #16
Hey I would like to work on this issue.
I am a GSSOC participant

[2022-02-28 17:10] Khushbu-kumari-87090 commented on #16
hello, i am so much interested in your project, and i have familiar with html, css, java script so can you please assign me this project  to work.

[2022-02-28 17:12] Prajwal-ctrl commented on #223
hey @KamalSinghKhanna @lenard123 @SamarjeetBanik I am a gssoc'22 participant can work on i t

[2022-02-28 18:09] kalashvasaniya commented on #223
Hey, I want to work on this issue!

[2022-02-28 18:10] kalashvasaniya commented on #216
Hey, I want to work on this issue!

[2022-02-28 18:57] Shubhangsaraogi commented on #17
Hey , Is somebody is working on this ?
if not then can you please assign this to me

[2022-02-28 18:59] Shubhangsaraogi commented on #181
Hey , Is somebody is working on this ?
if not then can you please assign this to me

[2022-02-28 19:04] Shubhangsaraogi commented on #223
Hey , Is somebody is working on this ?
if not then can you please assign this to me

[2022-02-28 21:21] Jyo561 opened #224 "Enhance the UI of the website and introduce Routing"

[2022-03-01 04:48] SamarjeetBanik commented on #223
@KamalSinghKhanna @Prajwal-ctrl @kalashvasaniya @Shubhangsaraogi There's no dedicated YT video for the mentioned session. So, this is not an issue to work on. Thank You!

[2022-03-01 08:17] DweejaReddy opened #225 "I want to improve the UI of testimonial section and also better preloader can be added"

[2022-03-01 08:21] DweejaReddy opened #226 "The typewriter text in the landing page has some issue"
The typewriter text goes behind the buttons
Want to fix it

![Screenshot (600)](https://user-images.githubusercontent.com/74244501/156131644-e8b0f076-0624-4fd5-9056-8e89c475ddfc.png)

[2022-03-01 09:38] AshutoshDash1999 opened #227 "Website takes too much time to load"
The website is taking too much time to load and be interactive.
Can someone work on this?

[2022-03-01 09:38] kheya19 opened #228 "Improve blog section card UI"
Improve card UI into a more clean and modern look for better feel and user experience.

[2022-03-01 11:05] HrishabhCodes commented on #228
I would love to work on this issue under GSSoC'22

[2022-03-01 12:14] aishwaryas15 opened #229 "Addition of a socials page with animation effects"
A good UI page for social media with some amazing CSS effects

[2022-03-01 12:16] aishwaryas15 opened #230 "Improve the UI/UX of the "Teams" page"
The "team's" page looks simple so I wanted to make that page look a little bit more exciting with the help of few animation/css effects

[2022-03-01 12:33] atharvamogade opened #231 "Card is not aligned properly"
### The third card is not aligned
***
The **third card** in the **Team section** is not aligned with other cards, as shown in the following image. **Assign this task to me**. I can fix this issue without disturbing the other contents.

![image](https://user-images.githubusercontent.com/57897938/156169299-95a4e838-a250-40e6-b631-c237d80a1811.png)

[2022-03-01 12:38] DweejaReddy commented on #224
I can try enhancing the UI with animations and better colourspace
Please assign this to me

[2022-03-01 13:07] debjitpurohit commented on #231
Assign this task to me. I can fix this issue without disturbing the other contents.

[2022-03-01 13:07] debjitpurohit commented on #231
Assign this task to me

[2022-03-01 13:14] Khushbu-kumari-87090 opened #232 "want to add very awesome and attractive web page"
i am gssoc contributor.so please assign me.

[2022-03-01 14:55] developer-diganta opened #234 "Make year dynamic"
![image](https://user-images.githubusercontent.com/65999534/156191679-18c7885c-14d5-44b7-a019-60ee1374d526.png)
The year can be made dynamic so that it keeps updating as required.
Can I work on this issue under GSSOC?

[2022-03-01 15:26] Susmita-Dey opened #235 "Footer year need to be changed"
**I'm a GSSOC'22 contributor and I wanna work on this issue.** Kindly assign this issue to me.
The following changes much be done.
![image](https://user-images.githubusercontent.com/79099734/156197253-bf8ffa75-a04e-43f9-970e-b67181dfa0ec.png)

Here, 2021 must be changed to 2022.

[2022-03-01 15:45] Pradumnasaraf opened #236 "docs: add PR Template"
### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

####  Due to that we are also missing out on some checks on the community standards checklist

![Screenshot from 2022-03-0

[2022-03-01 15:46] Pradumnasaraf opened #237 "docs: Add Issue Templates"
### Chnages
- Adding Issue templates
- Template path **`.github/ISSUE_TEMPLATE`**

###Template Types
![Screenshot from 2022-03-01 21-03-49](https://user-images.githubusercontent.com/51878265/156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0.png)

### Template Preview (while creating an issue - bug.)
![Screenshot from 2022-03-01 18-03-48](https://user-images.githubusercontent.com/51878265/156169861-53

[2022-03-01 15:47] Pradumnasaraf opened #238 "docs: Add Code of Conduct"
### Changes
- Add official `CODE_OF_CONDUCT.md` (provided by GitHub)
-
- Contribution towards GSsoc`22, Thank you

#### Due to that we are also missing out on some checks on the community guidelines checklist

![Screenshot from 2022-03-01 21-14-40](https://user-images.githubusercontent.com/51878265/156201059-27468cf5-f72e-4685-a28e-aab681c213da.png)

### Also, Please provide an Email to add includ

[2022-03-01 16:32] Sandhya312 opened #240 "Want to improve internship section"
**I want to improve the internship section of the website**

There are some problems in the internship section. The **Learn More** button and **Apply Now** button need to improve.
The font of text is also need to change. So assign this issue to me.

[2022-03-01 18:09] itzwow opened #241 "links are not properly connected/functional"
![2](https://user-images.githubusercontent.com/84179065/156223590-c0c46c9c-8578-4414-b7dd-25f76e58bdb3.JPG)
The discord invite shows invalid. It can be updated with proper link as it's in the homepage.

![3](https://user-images.githubusercontent.com/84179065/156223724-39204f2c-3f1b-4754-9635-9f2955f8fc93.JPG)
The apply now can be connected with the contact us form or a new form.

The social media

[2022-03-02 04:39] itsAftabAlam commented on #241
hey can i work on this issue? can you assign this to me?

[2022-03-02 04:51] kheya19 commented on #228
Please make your own issue I have created this one. I am also a GSSoC'22 contributer

[2022-03-02 05:06] Ra6-dev opened #242 "Want to add some CSS styles"
Some sections of the website such as internships , blogs and about us can be styled more with the help off CSS . The buttons in the pages can also be styled in a more beautiful way.

[2022-03-02 05:16] itzwow commented on #241
Hello!  Actually I wanted to work on this issues under GSSoC'22 . You can try to raise a new issue and then work on it once it will be assigned to you.

[2022-03-02 07:50] warriorBunny013 opened #243 "Want to edit the blog and home page"
The texts on the home page are not visible perfectly due to the background image. I can fix this issue and also edit the blog page to make it more professional. Please assign this issue to me.

[2022-03-02 07:53] warriorBunny013 commented on #181
I want to work on it please assign this issue to me. Please share the demo link.

[2022-03-02 08:23] Himanshu1808 commented on #243
I would like to work on this issue, can you please assign me? I am a GSSOC'22 participant.
Kindly assign me this issue.

[2022-03-02 08:26] Himanshu1808 commented on #227
I would like to work on this issue, can you please assign me? I am a GSSOC'22 participant.
Kindly assign me this issue. I will make it reliable for users.

[2022-03-02 09:21] warriorBunny013 commented on #240
I also like to work on it and make it more presentable in terms of today's modern websites. Please assign this to me if no one gets assigned.

[2022-03-02 09:25] Prajnaprabhu3 opened #244 "No social media options animation for few"
<img width="856" alt="Capture" src="https://user-images.githubusercontent.com/74554892/156333219-0da5023a-419c-4019-a647-960f4eafbdf4.PNG">

I can work on this issue and make the desired changes

[2022-03-02 14:08] Shubhangsaraogi commented on #240
Hey Is somebody still working this issue?
If not then can you please assign this to me

[2022-03-02 14:39] Shubhangsaraogi opened #246 "Links are not functional on Team Page"
All social media links of the team members are not working on the team page.
Can I work on this issue @SahityaRoy ?

[2022-03-02 19:38] SupriyaKumari08 opened #247 "Improve UI of AboutUs page"
**Feature Enhancement**
**Description :**The AboutUs section of the website is very simple.

**My Approach :** I want to make the UI more visually appealing with the help of CSS & add animation effects as well.

I would like to work on this issue.
@SahityaRoy Kindly assign it to me.

[2022-03-02 19:45] Kunal0220 opened #248 "Add Animation and Smooth Scroll to Blog Section"
**FEATURE REQUEST:**

**WHAT I ENCOUNTERED:**
The blog section is lagging a bit and the cards can be given some animation-on-scroll so as to make them more presentable.

**WHAT CAN I DO:**
I will add animations to the card in the blog section and add a smooth scroll feature to it so that it doesn't lag while scrolling.

I would like to work on this new feature , can you please assign it to me @Sah

[2022-03-03 06:30] #223 closed

[2022-03-03 13:28] Sreemoyee26 opened #249 "Changing color palette of events page to green"
#**Problem Description**

- The color palette of home screen and other pages is green while that of events page is red which looks weird.

#**Solution**

- Changing the color palette to green in events page

[2022-03-03 13:29] ProMinato500 opened #250 "Add Background Image and nav bar to Blog section page"
##**Problem**
-The Blog Page has no background to it and the CSS is also incomplete. Even the navbar is not proper

##**Suggestion**
- I will add the background image and make the CSS of the page better and also will add a proper navbar.

Please assign me this issue @SahityaRoy

[2022-03-03 13:29] Sreemoyee26 commented on #249
@SahityaRoy pls assign me this issue

[2022-03-03 14:25] KartikVerma0 opened #251 "Subscribe Form not working!"
Subscribe Form in Footer not working.

https://user-images.githubusercontent.com/97230777/156583836-faecf2f1-6350-4469-b9cc-d920749aa845.mp4

[2022-03-03 17:31] Ashish4321-hub commented on #234
I'm gssoc contributor  and I want to resolve this issue

[2022-03-04 08:40] keerthinamballa commented on #251
Hello sir, I am a GSSoC'22 participant. I would like to work on this issue if you can assign me.

[2022-03-04 09:02] KartikVerma0 commented on #251
Tag @SahityaRoy he can assign you issues.

[2022-03-04 09:59] keerthinamballa commented on #251
@SahityaRoy

[2022-03-04 10:54] shanthi123456 commented on #250
I would like to solve the issue by adding CSS , background image and nav bar to the blog section page. Please assign this issue to me.

[2022-03-04 11:02] shanthi123456 commented on #242
I would like to give more styling to the pages with CSS. Please assign me the issue.

[2022-03-04 14:00] bhavyapathak20 commented on #247
@SahityaRoy
I would like to work on this issue.
My Skills in web development :
1) HTML
2) CSS
3) Bootstrap
4) Javascript
5) Jquery

My experience :
5+ months of experience in UI design.
Worked on Hands-on projects. My Github repo shows it

[2022-03-04 17:35] Anish-Parkhi opened #254 "Improve the design of table in Internship Section"
Before👇
![example1](https://user-images.githubusercontent.com/93964690/156813370-39bcca4a-8bd7-46d1-b6bc-5d763b05a196.PNG)
After👇
![Example2](https://user-images.githubusercontent.com/93964690/156813379-e4c0103d-5610-4d39-acc1-b5a1eea72b3d.PNG)

Also the text 'Apply Now' Which will be visible

[2022-03-04 17:48] Anish-Parkhi commented on #254
I am a GSSoC 22 Participant and I have created a PR for this issue.

[2022-03-04 23:21] kshitij-404 commented on #216
Sure! @kalashvasaniya

[2022-03-05 04:02] yash120102 commented on #92
@SahityaRoy can you assign this issue to me?

[2022-03-05 04:33] gulshan23 commented on #251
Hello @SahityaRoy Sir, I am a GSSoC'22 contributor. I can make the subscribe button workable So I want to work on this issue. Please assign me.

[2022-03-05 05:26] shivam123-dev opened #256 "Improve the Learn More Button of intern.html"
### Expected Behavior
![expected_behaviour](https://user-images.githubusercontent.com/81038095/156869755-543fabd6-2936-405a-b1bd-3b3f0d122455.jpg)

### Actual Behavior
![actual_behaviour](https://user-images.githubusercontent.com/81038095/156869588-dd1cce0e-641a-4095-a61f-0d7fdb548e8c.jpg)

I am GSSOC'22 participant. So, @SahityaRoy @neha030 @Anuradha0501 kindly assign me this issue so that I can

[2022-03-05 07:14] Cypher1002 commented on #256
hey, great project want to work on it under gssoc '22
 will align it in center and reduce padding

[2022-03-05 07:15] Cypher1002 commented on #256
could you please assign it to me to work on it

[2022-03-05 07:20] Ankita-singh-05 commented on #256
Hello @shivam123-dev! I want to work on this issue under GSSoC'22. Could you please assign it to me?

[2022-03-05 07:35] Vivek-kumar21 opened #257 "Improve the Apply Now button in internship page."
I am a GSSoC'22 participant. I would like to work on this issue if you can assign me.

![Screenshot from 2022-03-05 13-02-55](https://user-images.githubusercontent.com/92684075/156873568-6fa3ac75-898f-4764-aa2b-381f7282707e.png)

[2022-03-05 11:40] tkrupesh14 opened #259 "Blog is not working"
The blog page is looking good but when I click on the "Read More" Button it is not working.

I would like to create a dynamic blog system for the website @SahityaRoy please assign it to me.

[2022-03-05 12:59] AbhinavBattu opened #260 "Adding a home button at the joining community page."
Adding a home button at the join community page. There should always be a home button at every page of the website for providing convinience to the user to get back to the home page of the website when needed.

[2022-03-05 13:00] #260 closed

[2022-03-05 16:28] Areebah03 opened #261 "Want to improve the design of home page"
I want to improve the css of home page. I would like to pick this issue.

[2022-03-05 17:36] ruchichaurasia24 opened #262 "Need of correction in event section"
Need to delete the instagram logo occurs 2 times in event section .  Can I work on this issue?

[2022-03-06 10:28] lavakush07 commented on #238
Hey,I want to work upon this issue under GSSOC 2022.

[2022-03-06 13:15] jhashivi21 commented on #242
I would like to give more styling to the pages with CSS. kindly assign this issue to me.

[2022-03-07 08:51] SahityaRoy commented on #256
@shivam123-dev  you can work on this

[2022-03-07 08:51] SahityaRoy commented on #256
@Ankita-singh-05  please find another issue

[2022-03-07 08:51] SahityaRoy commented on #256
Search for another one please

[2022-03-07 08:52] SahityaRoy commented on #261
do you have any demo @Areebah03

[2022-03-07 08:53] SahityaRoy commented on #262
go ahead and also please send the screenshot @ruchichaurasia24

[2022-03-07 08:55] SahityaRoy commented on #259
ok please go ahead @tkrupesh14

[2022-03-07 08:57] khushigupta123 opened #263 "Connect favicons on all pages"
### **problem description**

Currently, favicon is not connected to various pages:\
- About Us page
- Blog page
- Internship page

I will connect favicon to all pages to give the website a uniform look.

I am a GSSOC 2022 contributor,
Kindly assign me this issue.

[2022-03-07 08:58] #254 closed

[2022-03-07 08:59] SahityaRoy commented on #263
hey @khushigupta123  can you send a screenshot before commit

[2022-03-07 09:05] SahityaRoy commented on #251
@KartikVerma0 if you are free then please let me know

[2022-03-07 09:06] khushigupta123 opened #264 "Improve UI of About Page"
### **Issue description**

Currently, About Us page on the website is very simple and feels incomplete.

### **Enhancements proposed**

- Increase readability and attractiveness of text
- Improve images on the page
- Add a footer section on the page
- Enhance utility of page by adding more buttons and links.

**### Tech stack used**

- HTML
- CSS
- JavaScript

I am a GSSOC 2022 contributor,
Kindly

[2022-03-07 09:07] khushigupta123 commented on #263
Sure

[2022-03-07 09:12] khushigupta123 commented on #263
![about](https://user-images.githubusercontent.com/78090164/157001529-572ab4ea-99c6-43d3-b965-d2e46ee2458f.png)

![blog](https://user-images.githubusercontent.com/78090164/157001537-20877988-caa7-46af-897f-a8e3cdb3668e.png)

![internship](https://user-images.githubusercontent.com/78090164/157001541-a1b34ea1-86c3-47ba-b579-ed5b3f6b66c7.png)

[2022-03-07 09:15] khushigupta123 commented on #263
Hey
Sorry, by mistake, I clicked on unassign me option
Actually, I am new to open source development
Kindly assign me the issue again.

[2022-03-07 09:26] YalfamIamShaon opened #265 "Improvement of 'Learn more' button on Internship page and want to make 'About us' page a little more cohesive"
![2](https://user-images.githubusercontent.com/84259582/157003009-a3959f5b-f54f-4e21-8be4-878a8e4242b3.PNG)
![1](https://user-images.githubusercontent.com/84259582/157003022-a50bc081-1a0e-408d-8008-b63707009dcb.PNG)

Hey @Eduhub-Community I was looking into your website and I found it really amazing in terms of the UI. But in the About Us page the paragraph above 'Join us' button is not looking co

[2022-03-07 10:51] shivam123-dev commented on #256
Please review my PR #266

[2022-03-07 11:32] keerthinamballa commented on #251
I am free and would like to work on it.

[2022-03-07 13:08] krithika2411 commented on #264
Hi @khushigupta123  I'm a GSSoC'22 contributor.I want to improve the UI of the page .Kindly assign this issue to me.

[2022-03-07 13:11] krithika2411 commented on #246
I'm a GSSoC'22 contributor.I would like to add the links. Kindly assign this issue to me.

[2022-03-07 13:14] krithika2411 commented on #257
I'm a GSSoC'22 contributor.I want to enhance the Apply know button.Kindly assign this issue to me.

[2022-03-07 13:17] AsmaIbrahimButt opened #267 "I want to improve the Team slider carousal using HTML ,CS,Javascript and bootstarp5.I would like to pick this issue."
![slider](https://user-images.githubusercontent.com/89297894/157040867-0d4fa94e-e628-4398-a293-b69846ddb720.png)

This is a Ui sample for team carousal that i would like to improve.
![sample](https://user-images.githubusercontent.com/89297894/157041487-8a65d75f-30bc-4c86-8c96-20bbc48534d0.png)

file:///home/asma/Pictures/sample.png.

Kindly assign me.

[2022-03-07 13:19] krithika2411 commented on #263
I'm a GSSoC'22 contributor.I want to solve this issue. Kindly assign this issue to me.

[2022-03-07 17:07] Ashish4321-hub opened #268 "Navbar and join us button in about page is not working"
I am gssoc contributor, and I want to work on this issue.

[2022-03-07 17:08] krittt opened #269 "changing hover animation in the navigation bar"
Instead of the present square-type animation while hovering over the navigation menu, I want to add a simple underlining animation. I believe that would look good.

[2022-03-07 19:20] KartikVerma0 commented on #251
@SahityaRoy Currently i am not free you can assign this to someone else.

[2022-03-08 05:32] #256 closed

[2022-03-08 05:37] SahityaRoy commented on #268
sorry we don't need this section.

[2022-03-08 05:37] #268 closed

[2022-03-08 05:40] SahityaRoy commented on #267
Please Remove the starts and it should be in green theme.

[2022-03-08 05:41] #265 closed

[2022-03-08 05:43] SahityaRoy commented on #261
Yes, tell me what kind of changes you wanna do.

[2022-03-08 05:57] Areebah03 commented on #261
Two image in slider are same I want to change that and improve about us section.

[2022-03-08 06:03] Areebah03 commented on #261
In internship page we can improve the learn more button and add footer.

[2022-03-08 07:44] lavakush07 commented on #250
Hey,Can I work upon this issue under GSSOC 2022.

[2022-03-08 10:23] nouraan-ahmed opened #270 "Fix UI Of Meet Our Team Section"
I Would like to fix this
![Screenshot from 2022-03-08 12-08-08](https://user-images.githubusercontent.com/52378608/157215675-651c4806-61af-41fe-bcda-c444eff66a0d.png)
![Screenshot 2022-03-08 at 12-21-30 EduHub Community](https://user-images.githubusercontent.com/52378608/157217314-1c7189c7-cda2-459f-ba56-1d8123596b07.png)
I would like to work on this issue.
@SahityaRoy Kindly assign it to me.

[2022-03-08 10:55] PrachiDMore commented on #240
**Enhancement of overall UI of Internship page**
Improved learn more button styling
Table properly formated

![image](https://user-images.githubusercontent.com/94391314/157224091-e0997aeb-3fb1-4854-a9d4-d8e951deb76e.png)

[2022-03-08 18:30] Himanshi236 opened #273 "Want to improve the blog section by improving the header, adding hovering and improving the overall layout of page"
Hey, I would like to work on  improving the blog section
* by improving the header i.e. by making more buttons eg. subscribe ,most recent and few more to make it informative
* adding carousel
* adding hovering effects to make it more attractive
Please assign this issue to me under GSSOC'22.

[2022-03-09 08:11] bh-divyansh opened #274 "Footer links not working on Events page"
The links in the footer are not working, they just redirect on '#', on the Events page of the website. If you can assign it to me, I will be glad to work on this.

[2022-03-09 10:52] #274 closed

[2022-03-09 10:52] SahityaRoy commented on #273
Go ahead

[2022-03-09 10:53] #270 closed

[2022-03-09 12:29] 89-manshi commented on #273
I also want to contribute on the same issue along with Himanshi . Kindly assign .

[2022-03-09 15:13] tkrupesh14 commented on #259
Sure @SahityaRoy Thanks for assign it to me ☺️

[2022-03-09 16:59] Khushi25pandey commented on #232
I would like to work on the issue. Please assign it to me.

[2022-03-10 13:09] seerat16 commented on #263
@SahityaRoy  I'm a GSSoc'22 contributer. Kindly assign this issue to me.

[2022-03-11 08:13] #263 closed

[2022-03-12 05:43] HarshrajSharma commented on #251
I would like to work on this!

[2022-03-12 16:28] Apexshya commented on #257
I'm GSSoC'22 contributor and I want to work on this issue. Please assign it to me

[2022-03-12 16:30] Apexshya commented on #244
I am GSSoC'22 participant and I want to work on this issue

[2022-03-12 17:22] priyanshu688 opened #278 "Modifying the UI of Footer Section"
Adding the details and modifying the UI of Footer section.

[2022-03-12 17:23] priyanshu688 commented on #278
I am a participant under GSSOC 2022. I would like to work on the issue. Please assign it to me @SahityaRoy

[2022-03-12 19:00] roy-shivam commented on #278
i would like to do the modification please assign me the task.

[2022-03-12 19:02] roy-shivam commented on #248
I will add animations to the card in the blog section and add a smooth scroll feature to it so that it doesn't lag while scrolling.
by javascript libary please assign me this work.

[2022-03-13 07:01] arnav1776 commented on #278
@priyanshu688 Please explain in detail what kind of modifications you would like to do?

[2022-03-13 09:18] priyanshu688 commented on #278
I wanted to change the UI of the Footer Section so that It looks more impressive. @arnav1776

[2022-03-13 16:35] sid-khuntwal commented on #269
hey @SahityaRoy , can I also contribute to this?

[2022-03-14 07:39] theplayer9 commented on #278
Hey ... I have  some good idea for attractive footer. Assign this issue to me under GSSoc'22
For example we can have this one
![Screenshot (100)](https://user-images.githubusercontent.com/79765871/158126001-41ccba41-db4a-4d3f-b1d0-b375a61146d4.png)
-

We can have other designs too

[2022-03-14 07:56] SahityaRoy opened #279 "We need to constant a colour Theme should be same"

[2022-03-14 08:58] anmolchhabra21 commented on #16
Hello, i am interested in this project could you please assign me this

[2022-03-14 09:56] Dhananjaysharma207 commented on #278
hey u am GSSOC participant 22 .Adding the details and modifying the UI of Footer section.

[2022-03-14 09:57] Dhananjaysharma207 commented on #278
I am a participant under GSSOC 2022. I would like to work on the issue. Please assign it to me

[2022-03-14 10:31] ishika-rg commented on #264
Hello, I would like to work on this. The About Page can be made more interactive using HTML, CSS and JS.
Please assign this issue to me.

[2022-03-14 10:39] ishika-rg commented on #278
Hello, I would like to work on this. Kindly assign it to me.

[2022-03-14 17:14] #269 closed

[2022-03-14 17:41] priyanshu688 commented on #264
I'm a GSSoC'22 contributor. I want to improve the UI of the page .Kindly assign this issue to me. @SahityaRoy

[2022-03-14 17:45] priyanshu688 commented on #261
I'm a GSSoC'22 contributor. I want to improve the UI of the page .Kindly assign this issue to me. @SahityaRoy

[2022-03-15 04:45] Arpana-Sharma opened #282 "Hi, I am a GSSOC contributor. I wants to add drop-down menu in about.html"

[2022-03-15 04:54] Arpana-Sharma opened #283 "Wants to make aim section fully"

[2022-03-16 08:39] Arpana-Sharma commented on #282
Can I add Our Team, Courses, Registration Form, Footer to about.html

[2022-03-16 14:55] myhacktech commented on #283
hey,can you please assign me this issue?

[2022-03-18 15:30] ruchichaurasia24 commented on #262
Expected Behaviour
![Screenshot (45)](https://user-images.githubusercontent.com/77578662/159032713-76f7cfae-eef1-4098-8c88-4f1f4352c53e.png)
Actual Behaviour
![Screenshot (44)](https://user-images.githubusercontent.com/77578662/159032826-ad842fdc-a06f-419f-a19d-f4dcf67288c6.png)

[2022-03-18 17:02] SahityaRoy commented on #237
go ahead

[2022-03-18 17:04] #261 closed

[2022-03-19 02:46] navyabhatia commented on #251
Hi there,
I am Navya Bhatia and a part of GSSOC’22 as a contributor . I can solve this issue and therefore requests to please assign this issue to me .
Thank you
@SahityaRoy

[2022-03-20 05:38] #236 closed

[2022-03-20 12:55] KhushiRana2003 commented on #250
I am a participant under GSSOC 2022. I would like to work on the issue. Please assign it to me

[2022-03-20 13:05] Apexshya opened #287 "Social Media button is not working"

[2022-03-20 17:22] arnav1776 commented on #287
Which Social Media Button is not working, kindly elaborate your issue, share screenshots if needed.

[2022-03-21 16:04] Apexshya commented on #287
Discord and Instagram button is not working

[2022-03-23 17:52] KendallDoesCoding opened #289 "Issue with hyperlinks"
![image](https://user-images.githubusercontent.com/84712013/159764280-d087374a-2603-4205-8405-1b434521e8fe.png)
![image](https://user-images.githubusercontent.com/84712013/159764297-5280b6ce-8234-4e98-b752-f43c6f874b7c.png)

[2022-03-26 06:04] priyanshu688 commented on #278
@SahityaRoy Kindly review and merge this PR - https://github.com/Eduhub-Community/eduhub-website/pull/291

[2022-03-28 11:20] Tanujkanti4441 commented on #287
can i solve this

[2022-03-29 11:42] itsmohitnamdeo commented on #247
Hello
I am GSSOC Contributor.
I am delighted to Improve UI of AboutUs page...
Can you please Assign me this task....

[2022-04-02 09:46] soumali28 opened #295 "Want to improve the UI of the website"

[2022-04-02 18:03] codingkush commented on #289
I want to work on this ..can you assign me under GSsoc 22?

[2022-04-03 01:25] gulshan23 opened #296 "Subscribe form not working"
there is a 405 error in the subscribe form which i want to solve. The subscribe button will firstly verify that weather the email is valid or not and after that send a subscription email to the particular mail, which would be added in the database.
@SahityaRoy

[2022-04-06 04:24] Ranjana550 opened #297 "Add placeholder text for subscribe section box."
Hey @SahityaRoy, Can I add placeholder text(example@gmail.com) for this textbox of subscribing section.

![image](https://user-images.githubusercontent.com/71266173/161895247-ba53800d-1749-44a7-abb8-6ad0330ce429.png)

If yes, can you please assign this issue to me? I am a GSSoC contributor and would like to work on this issue.

[2022-04-09 10:10] MOUSAM-AGARWAL commented on #279
want to work on the issue
assing under gssoc22 label

[2022-04-10 07:42] ruchichaurasia24 opened #298 "Social-icon comes two times"
Hello, I'm GSSOC'22 contributor.
Issue type:
There is an occurrence of instagram icon two times. Can I work on this issue.

[2022-04-10 16:25] ak232001 commented on #282
Hi, I am a GSSOC'22 Contributor and i would like to work on this issue and make it reponsive.Please assign me @SahityaRoy

[2022-04-12 08:03] khushigupta123 commented on #264
since whole UI of website is changed I am closing this issue

[2022-04-12 14:03] ruchichaurasia24 commented on #262
I want to open this issue to work on it.

[2022-04-12 14:03] ruchichaurasia24 commented on #262
I want to open this issue and work on it.

[2022-04-19 12:48] aakankshabhende commented on #289
You can start working on it @codingkush

[2022-04-19 12:48] aakankshabhende commented on #289
You can start working on it @KendallDoesCoding

[2022-04-19 12:50] aakankshabhende commented on #297
You can start working on it @Ranjana550

[2022-04-19 12:50] aakankshabhende commented on #296
You can start working on it @gulshan23

[2022-04-19 12:51] aakankshabhende commented on #295
You can start working on it @soumali28

[2022-04-19 14:58] KendallDoesCoding commented on #289
I'm fine with working on this, but please assign @codingkush as he requested to work on this :)

[2022-04-19 16:23] codingkush commented on #289
Thank you 😊

[2022-04-20 03:46] AnshikaG0219 opened #299 "UI fix"
I'd like to work on the UI of the project, as it plays the main role in making the product more accessible to the users.

[2022-04-20 03:48] AnshikaG0219 opened #300 "Home-Page"
There is no home page for this project, hence i'd like to create it myself from scratch.

[2022-04-20 07:43] Ranjana550 commented on #297
Thank you for assigning this issue to me. : ) I will get it done by tomorrow.
I am a GSSoC'22 participant, it would be really helpful if you could add relevant tags to this issue.

[2022-04-21 22:59] TG922 opened #301 "Improving the UI of the Footer Section"
Adding the details and modifying the UI of the Footer section.

[2022-04-22 09:50] #301 closed

[2022-04-29 14:39] Yashashviarora opened #302 "i want to make a word counter using HTML Css and js"
IN this issue i make a word counter where every word and character length will be the output .
IN this HTML is used ,css is used for styling and js is used for change in word and character length.

[2022-05-04 13:56] Ranjana550 commented on #297
Hey @aakankshabhende, please unassign me for this issue. I have been a little busy with offline exams and submissions.

[2022-05-07 08:33] Susmita-Dey opened #303 "Website Deployment"
The community website is not deployed.
📝**Suggestion:**- It can be deployed using Heroku or some other servers.

[2022-05-07 08:46] Susmita-Dey opened #304 "[FEATURE]: Add Buttons in the Initiative Cards"
We can add Buttons in the respective cards of the initiative sections.
## Use Case
 We'll redirect them to their respective pages with the help of buttons.
## Alternatives
We can do the same work by linking the names of the initiatives other than using buttons.
## Screenshots
![image](https://user-images.githubusercontent.com/79099734/167246760-a13b9e7d-fa2b-4049-96fc-24758fa31566.png)
## Note to

[2022-05-09 07:17] Abhilasha-Jairath commented on #304
I'm a GSSoC'22 contributor. I can work on this issue. Kindly assign this issue to me.

[2022-05-21 04:23] Abhilasha-Jairath commented on #289
I'm a GSSoC'22 contributor. I can work on this issue. Kindly assign this issue to me.

[2022-05-21 04:30] Khushi-Mattu opened #305 "html a tags are visible"
![image](https://user-images.githubusercontent.com/82451914/169635342-6eaf3c06-232f-40fa-90e3-7f7636748814.png)
it is showing a tag besides linkedin button and spelling of maintainers is wrong

[2022-05-21 04:30] Khushi-Mattu commented on #305
please assign this issue to me

[2022-05-21 05:07] KendallDoesCoding commented on #289
@Abhilasha-Jairath Thanks, but @codingkush is already interesting in working on this!

[2022-05-21 05:07] KendallDoesCoding commented on #289
@aakankshabhende Please assign @codingkush as requested by them

[2022-05-21 12:24] Ranjana550 commented on #297
Heyy @aakankshabhende,
I am done with my exams and college stuff, and would like to continue working on this issue, may I continue?

[2022-05-22 19:53] akritimangal commented on #305
Please assign this issue to me.I will make sure to link the icon with the real page and remove this <a> tag.

[2022-05-26 07:40] Ranjana550 commented on #297
Heyy @aakankshabhende, it's almost done.
I am a GSSoC'22 participant, it would be really helpful if you could add relevant tags to this issue.
Thank you!

[2022-05-29 06:22] #302 closed

[2022-06-11 08:08] bishal7679 opened #307 "Typos in README.md"
Typos in README.md file is not so good. It should be corrected.

[2022-06-11 08:09] bishal7679 commented on #307
Can I fix all the typos?

[2022-07-31 10:40] #262 closed

[2022-10-22 11:26] Gulnaz44 commented on #137
Hello!
Please assign me this issues